<section>
  <form *ngIf="contactSelected" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="modal-header">
        <h3>Настройки группы</h3>
        <button mat-raised-button color="primary" type="submit">Создать</button>
      </div>
      <mat-form-field>
        <input formControlName="chatName" matInput placeholder="Название группы">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="description" matInput placeholder="Описание">
      </mat-form-field>
      <div class="avatar-selection">
        <h4>Выбор фотографии</h4>
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
      </div>
    </div>
  </form>
</section>
