<section>
  <form [formGroup]="dataForm" (ngSubmit)="search()">
    <div class="custom-search">
      <div class="search-icon">
        <i class="material-icons">search</i>
      </div>
      <input formControlName="searchText" type="text" class="search-input" placeholder="Поиск">
    </div>
    <div class="contact-item" *ngFor="let item of contacts | async" (click)="openChat(item)">
      <img [src]="environment.apiUrl + '/' + (item.photoUrl ? item.photoUrl : 'userAvatar.png')" alt="">
      {{item.userName}}
    </div>
  </form>
</section>
