<div class="chat-container" *ngIf="chat; else nochat">
  <div class="chat-header">
    <h2>{{chat.name}}</h2>
    <div class="chat-header-buttons">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>call</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>videocam</mat-icon>
      </button>
      <button mat-icon-button (click)="openChatSettings()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- Добавьте другие кнопки по мере необходимости -->
    </div>
  </div>

  <div class="message-container" #chatList>
    <div *ngFor="let message of messages"
                  [ngClass]="{ 'incoming': message.type == 'other', 'outgoing': message.type == 'my' }">
      <div class="avatar" *ngIf="message.type == 'other'">
        <img
          src="https://s5o.ru/storage/simple/cyber/edt/bb/f9/38/f5/cyberef95b3ecf51.jpg"
          alt="Аватар другого пользователя" class="avatar">
      </div>
      <div class="message-content">
        <p>{{message.content}}</p>
      </div>
    </div>
  </div>

  <div class="chat-input">
    <button mat-icon-button>
      <mat-icon>insert_emoticon</mat-icon>
    </button>

    <input placeholder="Введите сообщение"/>
    <button mat-icon-button>
      <mat-icon>attach_file</mat-icon>
    </button>
    <button (click)="send(-3)" mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
<ng-template #nochat>
  <div class="nochat">
    <h1>Выберите чат</h1>
  </div>
</ng-template>

