<div class="chat-info">
  <div class="avatar">
    <img src="https://www.meme-arsenal.com/memes/5f49b6a40df7066a79c002a8605aa613.jpg" alt="Аватар">
  </div>
  <div class="info">
    <h2>Имя пользователя / Название группы</h2>
    <p>Дополнительная информация</p>
    <mat-slide-toggle>Отключить уведомления</mat-slide-toggle>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum distinctio eius enim esse impedit maiores necessitatibus nostrum quam quasi quibusdam repudiandae, saepe sapiente tempora ut veritatis voluptates. Nesciunt, vel?</p>
  </div>
  <mat-tab-group>
    <mat-tab label="Media">
      <!-- Содержимое вкладки Shared Media -->
    </mat-tab>
    <mat-tab label="Files">
      <!-- Содержимое вкладки Files -->
    </mat-tab>
    <mat-tab label="Audio">
      <!-- Содержимое вкладки Audio -->
    </mat-tab>
    <mat-tab label="Video">
      <!-- Содержимое вкладки Video -->
    </mat-tab>
    <mat-tab label="Links">
      <!-- Содержимое вкладки Links -->
    </mat-tab>
    <!-- Добавьте дополнительные вкладки по мере необходимости -->
  </mat-tab-group>
</div>
