<div class="chat-info" *ngIf="chat; else nochat">
  <div class="avatar">
  </div>
  <div class="info">
    <h1>{{chat.name}}</h1>
    <p>Дополнительная информация</p>
    <mat-slide-toggle>Отключить уведомления</mat-slide-toggle>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum distinctio eius enim esse impedit maiores necessitatibus nostrum quam quasi quibusdam repudiandae, saepe sapiente tempora ut veritatis voluptates. Nesciunt, vel?</p>
  </div>
  <mat-tab-group>
    <mat-tab label="Members" *ngIf="chat.id < 0">
      <div class="contact-item" *ngFor="let item of chatInfo?.members">
        <img src="{{item.avatarUrl}}" alt="">
        {{item.userName}} <p *ngIf="chatInfo.ownerId == item.userId" style="color: blue; margin-left: 5px;">владелец</p>
      </div>
    </mat-tab>
    <mat-tab label="Media">
      <!-- Содержимое вкладки Shared Media -->
    </mat-tab>
    <mat-tab label="Files">
      <!-- Содержимое вкладки Files -->
    </mat-tab>
    <mat-tab label="Links">
      <!-- Содержимое вкладки Links -->
    </mat-tab>
    <!-- Добавьте дополнительные вкладки по мере необходимости -->
  </mat-tab-group>
</div>
<ng-template #nochat>
  <div class="nochat">
  </div>
</ng-template>
