<!-- Панель со списком чатов -->
<div class="chat-panel">
  <div [formGroup]="searchForm" class="chat-header">
    <button (click)="openSettings()" mat-icon-button color="primary" class="settings-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="custom-search">
      <div class="search-icon">
        <i class="material-icons">search</i>
      </div>
      <input formControlName="searchText" type="text" class="search-input" placeholder="Поиск">
      <button *ngIf="searchForm.value.searchText" class="cancel-search" (click)="clearSearchText()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>

  <div class="chat-list">
    <!-- Блок чата -->
    <ng-container *ngFor="let chat of chats">
      <div class="chat-item" *ngIf="chat.visible" (click)="openChat(chat.id, false)">
        <div [ngClass]="{'avatar-online': chat.status, 'avatar-offline': !chat.status}">
          <img
            [src]="environment.apiUrl + '/' + (chat.avatarUrl ? chat.avatarUrl : chat.id < 0 ? 'groupAvatar.png' : 'userAvatar.png')"
            alt="">
        </div>
        <div class="chat-info">
          <div class="chat-name">{{ chat.name }}</div>
          <p class="chat-details">
          <span
            class="last-message">
            {{ chat.id < 0 ? !chat.lastMessageFromSender ? chat.lastMessageSenderName ? chat.lastMessageSenderName + ': ' : '' : '' : ''}}
            {{ chat.lastMessageText | slice:0:30 }}
          </span>
            <span class="last-message-time">{{ chat.lastMessageDate | lastMessageTime }}</span>
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
